/*
  CSS file for books.html
*/

h1 {
	color: orange;
	background-color: white;
	border: 3px solid orange;
	text-align: center;
	padding: 8px;
	font-weight: 800;		
	margin-bottom: 0px;	
}

body {
	background-color: green;
	padding-top: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: smaller;
}

ul{
	list-style-type: none;
}

.booklist{
	margin-right: 45px;
	margin-left: 10px;
	padding: 0px;
	min-width: 300px;
}

.book{
	margin-top: 10px;
	padding: 15px;
	background-color: white;
	border: 3px solid orange;
	width: 100%;
}

.clear{
	clear: right;
}

ul ul{
	padding-left: 0px;
}

img{
	float: right;
	clear: none;
	border: 1px solid orange;
	padding: 4px;
}

.author{
	color: orange;
	font-style: italic;
	font-weight: bold;
	font-style: italic;
}

a:link{
	font-weight: bold;
	text-decoration: none;
	color: blue;
}

a:visited{
	font-weight: bold;
	text-decoration: none;
	color: purple;
}

a:active{
	font-weight: bold;
	text-decoration: none;
	color: white;
	background-color: blue;
}

a:hover{
	font-weight: bold;
	text-decoration: none;
	color: white;
	background-color: blue;
}

.publisher{
	font-variant: small-caps;
	margin-bottom: 10px;

}

.date, .isbn {
	font-size: 80%;
}
